 <div class="user-details">
  <h1> About Me </h1>
  <img alt="mountains" src="/assets/img/profile.JPG" align="left" width="200" height="200">
  <p> I am a first-year graduate student at Texas A&M working under <a href="http://people.physics.tamu.edu/lmacri/">Dr. Lucas Macri</a>. I work on using Mira variables to better calibrate the extragalactic distance ladder.  Outside of research, I am involved in the outreach effort <a href="https://www.facebook.com/AoTBCS/">Astronomy on Tap BCS</a> and the astrophysical literature journal <a href="https://astrobites.org">Astrobites</a>. You can find my posts for Astrobites <a href="https://astrobites.org/author/tkonchady/">here</a>.</p>
</div>
<!-- <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
 </div> -->

  <!--- <div class="user">
    <div class="tech">
      <h3><a href="https://www.facebook.com/AoTBCS/">Astronomy on Tap BCS</a></h3>
<!---      <p> adlkaskdjalsdjaslkd</p> --->
<!---    </div>
    <div class="tech">
      <h3><a href="https://astrobites.org">Astrobites</a></h3>
      <!--- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> --->
<!---    </div> 
</div> --->
