 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3><a href="https://www.facebook.com/AoTBCS/">Astronomy on Tap BCS</a></h3>
<!---      <p> adlkaskdjalsdjaslkd</p> --->
    </div>
    <div class="tech">
      <h3><a href="https://astrobites.org">Astrobites</a></h3>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
