 <div class="user-details">
  <h1> About Me </h1>
  <p> I am a first-year graduate student at Texas A&M working under Dr. Lucas Macri. I work on using Mira variables to better calibrate the extragalactic distance ladder. Outside of research, I am involved in the outreach effort <a href="https://www.facebook.com/AoTBCS/">Astronomy on Tap BCS</a> and the astrophysical literature journal <a href="https://astrobites.org">Astrobites</a>.</p>
</div>
  <div class="user">
    <div class="tech">
      <h3><a href="https://www.facebook.com/AoTBCS/">Astronomy on Tap BCS</a></h3>
<!---      <p> adlkaskdjalsdjaslkd</p> --->
    </div>
    <div class="tech">
      <h3><a href="https://astrobites.org">Astrobites</a></h3>
      <!--- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> --->
    </div>
</div>
