<div class="user-details">
  <h1> Ccurriculum Vitae </h1>
  <p> Click <a href="tkonchady_cv.pdf">here</a> for a PDF version of my CV.</p>

<p><h3>Education</h3></p>
<p><h4><a href="https://physics.tamu.edu/">Texas A&M University</a></h4></p>
<p>Ph.D. in Astronomy</p>
<p><i>Expected May 2023</i></p>
<p><h4><a href="http://physics-astronomy.jhu.edu/">Johns Hopkins University</a></h4></p>
<p>B.Sc. in Physics, Minor in Space Science and Engineering </p>
<p><i>May 2017</i></p>

<p><h3>Awards</h3></p>
<p> Graduate Diversity Fellow (Fall 2017-Summer 2020)
<p>Dean's List (Fall 2013, Spring 2014, Spring 2015, Fall 2016, Spring 2017)</p>
<p>Society of Physics Students Travel Award (December 2016)</p>
<p>Maryland Space Grant Consortium Undergraduate Scholarship (2016-17)</p>
<p>Arthur and Catherine B. Adel Scholarship for Physics (2015-16, 2016-17)</p>
<p>Francis Bacon Science Writing Fellow (April 2016)</p>

<p><h3>Professional Affiliations</h3></p>
<p><a href="https://aas.org/">American Astronomical Society</a></p>
<p><a href="https://www.aps.org/">American Physical Society</a></p>
</div>
