<div class="user-details">
  <h1> CV </h1>
  <p> Click <a href="assets/img/ccd11_broken.png">here</a>e for a PDF version of my CV.</p>
<p><h3>Education</h3><p>
  <p><h4><a href="https://physics.tamu.edu/">Texas A&M University</a></h4>
  Ph.D. in Astronomy <i>Expected May 2023</i></p>
<p><h4><a href="http://physics-astronomy.jhu.edu/">Johns Hopkins University</a></h4>
  B.Sc. in Physics with minor in Space Science and Engineering <i>May 2017</i></p>
<p><h3>Education</h3><p>
<p><h3>Education</h3><p>
</div>
